.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

h1,
h2,
p {
  text-align: center;
}

.website p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.name {
  text-align: right;
  width: 75%;
}

.box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sno {
  text-align: right;
  width: 25%;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}